@import "vars"
=xxl-width($columnCount)
  flex: 0 0 ((100%/16)*$columnCount)
  max-width: ((100%/16)*$columnCount)
/*==========  Desktop First  ==========*/

@media only screen and (max-width : 1850px)
  #my-header
    .lvl2-c
      margin-top: 0px
    .lvl2-h
      .group-b
        justify-content: flex-end
        .basket-c
          margin-right: 20px
        .phone-c
          display: none
        .btn-transparent
          display: none
  .main-slider
    margin-top: 0px
  .main-slider .item .prev
    min-height: 467px
  .main-slider .item .content-c, .main-slider .slick-arrow.slick-next, .main-slider .slick-arrow.slick-prev
    top: 50%
  .vidNews-sec .video-fb
    height: 372px
  .news-c .news-i:nth-child(n+3)
    display: none
  .news-c .news-i:nth-child(2)
    border-bottom: transparent
//Extra large: ≥1200px
@media only screen and (max-width : 1200px)
  .discount-b .ofer-d
    font-size: 36px
  .discount-b
    height: calc( 100% - 60px )
    .discr
      font-size: 17px

//Large: ≥992px
+media-breakpoint-down(lg)
  #my-header 
    .logo-c img
      max-width: 100%
      bottom: 15px
    .group-b-c
      display: none
  #my-header
    .lvl1-h
      .group-b
        .basket-c
          margin-left: 45px
          margin-right: 27px
          svg
            path
              fill: $accent
  .filter-list li,.link-list li
    margin-bottom: 10px
//Medium: ≥768px
+media-breakpoint-down(md)
  .stat-b
    padding-top: 37px
    padding-bottom: 37px
    height: 300px
  .discount-b
    padding-bottom: 30px
  #my-header
    .header-r.lvl1-h
      .group-b
        .phone-c
          display: none
        .basket-c
          display: none
  .menu-m-b-c
    display: block
  .main-menu-cc
    display: none
  .content
    table
      overflow-x: scroll
      width: 100%
      display: block
      tbody
        display: block
        min-width: 500px
        width: 100%
  #my-header .find-form
    top: 6px
    width: calc(100% - 30px)
    margin-left: 15px
  .main-slider .item .content-c
    font-size: 22px
  .preim-sec .content
    padding-left: 0px
  .preim-r
    .col-12
      &:nth-child(1)
        order: 1
      &:nth-child(2)
        order: 0
    .img-c
      margin-top: 30px
  .vidNews-sec .news-sec
    margin-top: 45px
    .news-c .news-i
      padding-left: 0px
  .vidNews-sec .news-c
    margin-top: 0px
//Small: ≥576px
+media-breakpoint-down(sm)
  .akcii-c .news-i
    padding-right: 0px
    flex-direction: column
  .akcii-c .news-i .discr-c
    margin-left: 0px
    margin-top: 30px
  .akcii-c .news-i .discr-c .date-n
    margin-bottom: 15px
//Extra small: >0
+media-breakpoint-down(xs)
  .h1, h1
    font-size: 25px
  .pagination
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
  .pagination .arr
    min-width: 32px
    .hidden-lg-down
      display: none
    &.prev .fa
      padding-right: 0px
    &.next .fa
      padding-left: 0px
  .akcii-c .news-i .prev-c
    min-width: 1px
  .vidNews-sec .news-sec .news-c .news-i
    flex-direction: column
  .news-c .news-i .discr-c
    margin-left: 0px
    margin-top: 15px
  .news-c .news-i .prev
    width: 100%
    height: 200px
  .news-c .news-i .discr-c .date-n
    margin-bottom: 15px
  .main-slider .item .content-c
    padding-left: 30px
    padding-right: 30px

  .discount-b .b-t
    font-size: 53px
  .slider-cc
    padding: 0px
  #consult.white-popup .h4, .popup.white-popup .h4
    text-align: center
    text-transform: uppercase
    font-size: 28px
    font-weight: 300
    margin-bottom: 15px
    margin-top: 10px
    text-align: left
  #consult .container, .popup .container
    padding: 0px
  #consult .container .col-12, .popup .container .col-12
    padding: 0px
  .menu-m-b-c .some-items
    justify-content: space-around
    margin: 10px 0px
  #my-header .logo-c img
    bottom: 5px
  #my-header .find-form
    top: 12px
    width: calc(100% - 30px)
    margin-left: 15px
  #my-footer
    .container 
      *
        text-align: center
        justify-content: center
  .catalog-cart-sec .cart-c .cart-r
    .col-12
      .cart-i
        margin-bottom: 15px
      &:last-child
        .cart-i
          margin-bottom: 0px
  .stand-sec
    padding: 15px 0px
  .catalog-cart-sec .cart-c .cart-r .cart-i .title-c
    font-size: 20px
/*==========  Mobile First  ==========*/

//Extra small: <576px
+media-breakpoint-up(xs)
	/**/
//Small: ≤576px
+media-breakpoint-up(sm)
	/**/

//Medium: ≤768px
+media-breakpoint-up(md)
  /**/



//Large: ≤992px
+media-breakpoint-up(lg)
  /**/

//Extra large: ≤1200px
+media-breakpoint-up(xl)
  .container
    width: 1170px
    max-width: 100%
  #my-header
    .lvl1-h
      .group-b
        .basket-c
          display: none
@media only screen and (min-width : 1850px)
  #my-header
    .lvl1-h
      .group-b
        display: none
  //my custom grid
  .container
    width: 1562px
    max-width: 100%
    &.standart
      width: 1170px
  .col-xxl-1
    +xxl-width(1)
  .col-xxl-2
    +xxl-width(2)
  .col-xxl-3
    +xxl-width(3)
  .col-xxl-4
    +xxl-width(4)
  .col-xxl-5
    +xxl-width(5)
  .col-xxl-6
    +xxl-width(6)
  .col-xxl-7
    +xxl-width(7)
  .col-xxl-8
    +xxl-width(8)
  .col-xxl-9
    +xxl-width(9)
  .col-xxl-10
    +xxl-width(10)
  .col-xxl-11
    +xxl-width(11)
  .col-xxl-12
    +xxl-width(12)
  .col-xxl-13
    +xxl-width(13)
  .col-xxl-14
    +xxl-width(14)
  .col-xxl-15
    +xxl-width(15)
  .col-xxl-16
    +xxl-width(16)

  .offset-xxl-1
    +m-offset-xxl(1)
  .offset-xxl-2
    +m-offset-xxl(2)
  .offset-xxl-3
    +m-offset-xxl(3)
  .offset-xxl-4
    +m-offset-xxl(4)
  .offset-xxl-5
    +m-offset-xxl(5)
  .offset-xxl-6
    +m-offset-xxl(6)
  .offset-xxl-7
    +m-offset-xxl(7)
  .offset-xxl-8
    +m-offset-xxl(8)
  .offset-xxl-9
    +m-offset-xxl(9)
  .offset-xxl-10
    +m-offset-xxl(10)
  .offset-xxl-11
    +m-offset-xxl(11)
  .offset-xxl-12
    +m-offset-xxl(12)
  .offset-xxl-13
    +m-offset-xxl(13)
  .offset-xxl-14
    +m-offset-xxl(14)
  .offset-xxl-15
    +m-offset-xxl(15)
  .offset-xxl-16
    +m-offset-xxl(16)